{% extends 'base.html.twig' %}

{% block title %}Tipo de Tramites{% endblock %}

{% block body %}

    {{parent()}}

    <div class="sectionTitle">
		<h2>Tipos de Tr치mites</h2>
	</div>

    <div class="btnAgregar">
        <a href="/tipotramite/create" class="btn mt-4" id="agregar"><i class="fas fa-plus"></i>Agregar nuevo tipo de tr치mite</a>
    </div>

    <table id="tabla" class="table table-bordered table-striped text-center mt-4">

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripci칩n</th>
                <th>Tipo</th>
                <th>Intervenciones</th>
                <th>Vigente</th>
                <th>Acci칩n</th>
            </tr>
        </thead>

        <tbody>
            {% for tipo in tipotramite %}
                <tr>
                    <td>{{tipo.nombre}}</td>
                    <td>{{tipo.descripcion}}</td>
                    <td>{{tipo.tipo}}</td>
                    <td>{{tipo.intervenciones}}</td>
                    <td>{{tipo.vigente}}</td>

                    <td>
                        <a href="{{ path('edittipotramite', {'id': tipo.id}) }}"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('deletetipotramite', {'id': tipo.id}) }}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}