{% extends 'base.html.twig' %}

{% block title %}Tramites{% endblock %}

{% block body %}
   {{parent()}}

     <div class="sectionTitle">
		<h2>Tr치mites</h2>
	</div>

    <div class="btnAgregar">
        <a href="/createtramite" class="btn mt-4" id="agregar"><i class="fas fa-plus"></i>Agregar nuevo tramite</a>
    </div>
    
    {% for tramit in tramite %}
        <p>Fecha de inicio: {{ tramit.fechaInicio|date('d-m-Y') }} </p>
        <p>Observaci칩n: {{ tramit.observacion}}</p>
        <p>Tipo de tr치mite: {{tramit.tipotramite.nombre}}</p>
        <p>Persona: {{tramit.persona.dniNumero}}</p>
        <p>Estado de tr치mite: {{tramit.estadoTramite.id}}</p>   
        <p>Usuario: {{tramit.usuario.user}}</p>

    {% endfor %}

{% endblock %}