{% extends 'base.html.twig' %}

{% block title %}Tramites{% endblock %}

{% block body %}
   {{parent()}}

     <div class="sectionTitle">
		<h2>Trámites</h2>
	</div>

    <div class="btnAgregar">
        <a href="/createtramite" class="btn mt-4" id="agregar"><i class="fas fa-plus"></i>Agregar nuevo tramite</a>
    </div>
    
    {% for tramit in tramite %}
        <p>Fecha de inicio: {{ tramit.fechaInicio|date('d-m-Y') }} </p>
        <p>Tipo de trámite: {{tramit.tipotramite.nombre}}</p>
        <p>Observación: {{ tramit.observacion}}</p>
        <p>Estado de trámite: {{tramit.estadoTramite.estado}}</p>   
        <p>Fecha de resolución: {{tramit.fechaResolucion|date('d-m-Y')}}
        <p>Persona: {{tramit.persona.dniNumero}}</p>
        {# <p>Usuario: {{tramit.usuario.user}}</p> #}

    {% endfor %}

{% endblock %}