{% extends 'base.html.twig' %}

{% block title %}Tramite{% endblock %}

{% block body %}
    {{parent()}}

    <div class="sectionTitle">
		<h2>Tr치mite</h2>
	</div>

    <p>Fecha de inicio: {{ tramite.fechaInicio|date('d-m-Y') }} </p>
    <p>Observaci칩n: {{ tramite.observacion}}</p>
    <p>Tipo de tr치mite: {{tramite.tipotramite.nombre}}</p>
    <p>Persona: {{tramite.persona.dniNumero}}</p>
    <p>Estado de tr치mite: {{tramite.estadoTramite.id}}</p>
    <p>Usuario: {{tramite.usuario.user}}</p>


{% endblock %}