{% extends 'base.html.twig' %}

{% block title %}Discapacidades{% endblock %}

{% block body %}

    {{parent()}}

    <div class="sectionTitle">
		<h2>DISCAPACIDADES</h2>
	</div>
        
    <div class="btnAgregar">
        <a href="/discapacidad/create" class="btn mt-4" id="agregar"><i class="fas fa-plus"></i>Agregar nueva discapacidad</a>
    </div>

    <table id="tabla" class="table table-bordered table-striped text-center mt-4">

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Tipo</th>
                <th>Vigente</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            {% for disca in discapacidad %}
                <tr>
                    <td>{{disca.nombre}}</td>
                    <td>{{disca.descripcion}}</td>
                    <td>{{disca.tipo.nombre}}</td>
                    <td>{{disca.vigente}}</td>

                    <td>
                        <a href="{{ path('editdiscapacidad', {'id': disca.id}) }}"><i class="fas fa-edit"></i></a>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ disca.id }}" ><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

         {% for disca in discapacidad %}
        <div class="modal fade" id="modal{{ disca.id }}" tabindex="-1">
         <div class="modal-dialog">
            <div class="modal-content"> <!-- ENVOLTORIO/WRAPPER DEL MODAL-->
            <div class="modal-header"> <!-- CABECERA/HEADER DEL MODAL-->
                <h5 class="modal-title">ELIMINAR DISCAPACIDAD</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> <!-- CUERPO/BODY DEL MODAL-->
                <p> &iquest;Est&aacute seguro que desea eliminar el registro&quest; </p>
            </div>
            
            <div class="modal-footer"> <!-- PIE/FOOTER DEL MODAL-->
                <!--El atributo data-bs-dismiss identifica al botón como el que puede "cerrar" el modal -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a href="{{ path('deletediscapacidad', {'id': disca.id}) }}" class="btn btn-danger">Eliminar</a>
            </div>
            </div>
         </div>
        </div>
        
        {% endfor %}

    </table>

{% endblock %}