{% extends 'base.html.twig' %}

{% block title %}Persona{% endblock %}

{% block body %}

    {{parent()}}

    <div class="sectionTitle">
	    <h2>PERSONAS</h2>
	</div>

    <div class="btnAgregar">
        <a href="/createpersona" class="btn mt-4" id="agregar"><i class="fas fa-plus"></i> Agregar persona</a>
    </div>

    <table id="tabla" class="table table-bordered table-striped text-center mt-4">

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Sexo</th>
                <th>Estado civil</th>
                <th>Tipo de DNI</th>
                <th>DNI Nro. de Trámite</th>
                <th>Nro. DNI</th>
                <th>Nacionalidad</th>
                <th>Provincia</th>
                <th>Ciudad</th>
                <th>Calle</th>
                <th>Altura</th>
                <th>Piso</th>
                <th>Departamento</th>
                <th>Barrio</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            {% for persona in personas %}
                <tr>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.apellido }}</td>
                    <td>{{ persona.fechaNacimiento|date('d-m-Y') }}</td>
                    <td>{{ persona.sexo }}</td>
                    <td>{{ persona.estadocivil.tipoEstado }}</td>
                    <td>{{ persona.dnitipo.tipo }}</td>
                    <td>{{ persona.dnitramite }}</td>
                    <td>{{ persona.dniNumero }}</td>
                    <td>{{ persona.nacionalidad.pais }}</td>
                    <td>{{ persona.provincia.nombre }}</td>
                    <td>{{ persona.ciudad.nombre }}</td>
                    <td>{{ persona.calle }}</td>
                    <td>{{ persona.altura }}</td>
                    <td>{{ persona.piso }}</td>
                    <td>{{ persona.dpto }}</td>
                    <td>{{ persona.barrio.nombre }}</td>

                    <td>
                        <a href="{{ path('editpersona', {'id': persona.id}) }}"><i class="fas fa-edit"></i></a>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ persona.id }}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
           
        {% for persona in personas %}

         <div class="modal fade" id="modal{{ persona.id }}" tabindex="-1">
         <div class="modal-dialog">
            <div class="modal-content"> <!-- ENVOLTORIO/WRAPPER DEL MODAL-->
            <div class="modal-header"> <!-- CABECERA/HEADER DEL MODAL-->
                <h5 class="modal-title">ELIMINAR PERSONA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> <!-- CUERPO/BODY DEL MODAL-->
                <p> &iquest;Est&aacute seguro que desea eliminar el registro&quest; </p>
            </div>
            
            <div class="modal-footer"> <!-- PIE/FOOTER DEL MODAL-->
                <!--El atributo data-bs-dismiss identifica al botón como el que puede "cerrar" el modal -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a href="{{ path('deletepersona', {'id': persona.id}) }}"class="btn btn-danger">Eliminar</a>
            </div>
            </div>
         </div>
        </div>

        {% endfor %}

    </table>

{% endblock %}