{% extends 'base.html.twig' %}

{% block title %}Registro de discapacidad{% endblock %}

{% block body %}

    {{parent()}}

    <div class="btnAgregar">
        <a href="/createpadron" class="btn mt-4" id="agregar"><i class="fas fa-plus"></i>Agregar persona con discapacidad</a>
    </div>

    <table id="tabla" class="table table-bordered table-striped text-center mt-4">
        <thead>
            <tr>
                <th>CUIL</th>
                <th>CUD</th>
                <th>Vigencia</th>
                <th>Diagnóstico</th>
                <th>Discapacidad</th>
                <th>Causa</th>
                <th>Pensión</th>
                <th>Obra social</th>
                <th>Nivel instrucción</th>
                <th>Tipo modalidad</th>
                <th>Experiencia laboral</th>
                <th>Actividades</th>
                <th>Nivel educación</th>
                <th>Residencia</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            {% for discapacitado in discapacitados %}
                <tr>
                    <td>{{discapacitado.cuil}}</td>
                    <td>{{discapacitado.cud}}</td>
                    <td>{{discapacitado.cudvigencia|date('d-m-Y')}}</td>
                    <td>{{discapacitado.cuddiagnostico}}</td>
                    <td>{{discapacitado.discapacidad.nombre}}</td>
                    <td>{{discapacitado.causa}}</td>
                    <td>{{discapacitado.pension}}</td>
                    <td>{{discapacitado.obrasocial.denominacion}}</td>
                    <td>{{discapacitado.nivelinstruccion}}</td>
                    <td>{{discapacitado.tipomodalidad}}</td>
                    <td>{{discapacitado.experiencialaboral}}</td>
                    <td>{{discapacitado.actividades}}</td>
                    <td>{{discapacitado.niveleducacion}}</td>
                    <td>{{discapacitado.residencia}}</td>

                    <td>
                        {# <a href="{{ path('editpadron', {'id': discapacitado.id}) }}"><i class="fas fa-edit"></i></a>
                        <a href=""><i class="fas fa-trash-alt"></i></a> #}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
