{% extends 'base.html.twig' %}

{% block title %}Registro de discapacidad{% endblock %}

{% block body %}

    {{parent()}}

    <a href="/createpadron" class="btn mt-4" id="crearPadron"><i class="fas fa-plus"></i>Agregar persona con discapacidad</a>

    <table id="tabla" class="table table-bordered table-striped text-center mt-4">
        <thead>
            <tr>
                <th>CUIL</th>
                <th>CUD</th>
                <th>Vigencia</th>
                <th>Diagn贸stico</th>
                <th>Discapacidad</th>
                <th>Causa</th>
                <th>Pensi贸n</th>
                <th>Obra social</th>
                <th>Nivel instrucci贸n</th>
                <th>Tipo modalidad</th>
                <th>Experiencia laboral</th>
                <th>Actividades</th>
                <th>Nivel educaci贸n</th>
                <th>Residencia</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for discapacitado in discapacitados %}
                <tr>
                    <td>{{discapacitado.cuil}}</td>
                    <td>{{discapacitado.cud}}</td>
                    <td>{{discapacitado.cudvigencia|date('d-m-Y')}}</td>
                    <td>{{discapacitado.cuddiagnostico}}</td>
                    {# <td>{{discapacidad.nombre}}</td> #}
                    <td>{{discapacitado.causa}}</td>
                    <td>{{discapacitado.pension}}</td>
                    {# <td>{{obrasocial.denominacion}}</td> #}
                    <td>{{discapacitado.nivelinstruccion}}</td>
                    <td>{{discapacitado.tipomodalidad}}</td>
                    <td>{{discapacitado.experiencialaboral}}</td>
                    <td>{{discapacitado.actividades}}</td>
                    <td>{{discapacitado.niveleducacion}}</td>
                    <td>{{discapacitado.residencia}}</td>

                    <td>
                        {# <a href="edit/{{discapacitado.id}}"><i class="fas fa-trash-alt"></i></a> #}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
