{% extends 'base.html.twig' %}

{% block title %}Persona con discapacidad{% endblock %}

{% block body %}

    {{parent()}}

    <table>
        <thead>
            <tr>
                <th>CUIL</th>
                <th>CUD</th>
                <th>Vigencia</th>
                <th>Diagn贸stico</th>
                <th>Discapacidad</th>
                <th>Causa</th>
                <th>Pensi贸n</th>
                <th>Obra social</th>
                <th>Nivel Instrucci贸n</th>
                <th>Tipo Modalidad</th>
                <th>Experiencia laboral</th>
                <th>Actividades</th>
                <th>Nivel Educaci贸n</th>
                <th>Residencia</th>
            </tr>
        </thead>

        {% for discapacitado in discapacitados %}
            <tr>
                <td>{{discapacitado.cuil}}</td>
                <td>{{discapacitado.cud}}</td>
                <td>{{discapacitado.cudvigencia|date('d-m-Y')}}</td>
                <td>{{discapacitado.cuddiagnostico}}</td>
                {# <td>{{discapacidad.nombre}}</td> #}
                <td>{{discapacitado.causa}}</td>
                <td>{{discapacitado.pension}}</td>
                {# <td>{{obrasocial.denominacion}}</td> #}
                <td>{{discapacitado.nivelinstruccion}}</td>
                <td>{{discapacitado.tipomodalidad}}</td>
                <td>{{discapacitado.experiencialaboral}}</td>
                <td>{{discapacitado.actividades}}</td>
                <td>{{discapacitado.niveleducacion}}</td>
                <td>{{discapacitado.residencia}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}